@font-face {
    font-family: "MontserratBold";
    src : url("../assets/fonts/Montserrat-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "MontserratRegular";
    src : url("../assets/fonts/Montserrat-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "MontserratBlack";
    src : url("../assets/fonts/Montserrat-Black.ttf");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "MontserratMedium";
    src : url("../assets/fonts/Montserrat-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}