.header{
    &__nav{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left{
        display: flex;
        align-items: center;
        column-gap: 20px;
    }
    &__logo{
        width: 60px;
        height: 60px;
    }
    &__text{
        display: flex;
        flex-direction: column;
        &-name{
            @include text ($montserratBold, 35px, 40px, $black);
        }
        &-info{
            @include text ($montserratBold, 18px, 20px, $grey);
        }
    }
    &__right{
        display: flex;
        align-items: center;
        column-gap: 30px;
        &-first,
        &-next{
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 5px;
        }
        &-item{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
            height: 50px;
            position: relative;
        }
        &-cart{
            width: 35px;
            height: 35px;
            color: gray;
            cursor: pointer;
        }
        &-cart:hover{
            width: 40px;
            height: 40px;
        }
        &-circle{
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: red;
            position: absolute;
            top: -3px;
            left: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            @include text ($montserratBold, 16px, 16px, white);
        }
        &-price{
            @include text ($montserratBold, 18px, 20px, $black);
        }

        &-favorite{
            width: 30px;
            height: 30px;
            color: gray;
            cursor: pointer;
        }
        &-favorite:hover{
            width: 35px;
            height: 35px;
        }

        &-user{
            width: 30px;
            height: 30px;
            color: gray;
        }
        &-entry,
        &-exit{
            display: none;
            &_active{
                display: block;
                margin-left: 10px;
                @include text ($montserratBold, 18px, 20px, $black);
                background: white;
                border: none;
                cursor: pointer;
            }
        }
        &-entry:hover,
        &-exit:hover{
            @include text ($montserratBold, 20px, 20px, blue);
        }
    }
}
