@font-face {
  font-family: "MontserratBold";
  src: url("../assets/fonts/Montserrat-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "MontserratRegular";
  src: url("../assets/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "MontserratBlack";
  src: url("../assets/fonts/Montserrat-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "MontserratMedium";
  src: url("../assets/fonts/Montserrat-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "MontserratSemiBold";
  src: url("../assets/fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1400px;
  padding: 0 40px;
  margin: 0 auto;
}

.btn {
  width: 300px;
  height: 45px;
  margin-top: 10px;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  background: rgb(48, 102, 218);
  border: 1px solid rgb(48, 102, 218);
  font-family: "MontserratBold", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: white;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.header__logo {
  width: 60px;
  height: 60px;
}
.header__text {
  display: flex;
  flex-direction: column;
}
.header__text-name {
  font-family: "MontserratBold", sans-serif;
  font-size: 35px;
  line-height: 40px;
  color: #191919;
}
.header__text-info {
  font-family: "MontserratBold", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: grey;
}
.header__right {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.header__right-first, .header__right-next {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.header__right-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 35px;
}
.header__right-cart {
  width: 35px;
  height: 35px;
  color: gray;
  cursor: pointer;
}
.header__right-cart:hover {
  width: 40px;
  height: 40px;
}
.header__right-price {
  font-family: "MontserratBold", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #191919;
}
.header__right-favorite {
  width: 30px;
  height: 30px;
  color: gray;
  cursor: pointer;
}
.header__right-favorite:hover {
  width: 35px;
  height: 35px;
}
.header__right-user {
  width: 30px;
  height: 30px;
  color: gray;
}
.header__right-entry, .header__right-exit {
  display: none;
}
.header__right-entry_active, .header__right-exit_active {
  display: block;
  margin-left: 10px;
  font-family: "MontserratBold", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #191919;
  background: white;
  border: none;
  cursor: pointer;
}
.header__right-entry:hover, .header__right-exit:hover {
  font-family: "MontserratBold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: blue;
}

.home {
  margin-top: 40px;
}
.home__promo {
  width: 100%;
}
.home__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 30px;
}
.home__title {
  font-family: "MontserratBold", sans-serif;
  font-size: 30px;
  line-height: 16px;
  color: #191919;
}
.home__label {
  display: flex;
  flex-direction: column;
  height: 60px;
  font-family: "MontserratRegular", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #191919;
}
.home__select {
  font-family: "MontserratRegular", sans-serif;
  font-size: 20px;
  line-height: 15px;
  color: #191919;
  background: white;
  border: 1px solid transparent;
}
.home__option {
  font-family: "MontserratRegular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #191919;
}
.home__search {
  display: flex;
  justify-content: start;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  border: 1px solid rgb(177, 174, 174);
}
.home__search-icon {
  width: 20px;
  margin-left: 10px;
}
.home__search-input {
  height: 50px;
  padding-left: 10px;
  border: 1px solid transparent;
}
.home__products {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
  flex-wrap: wrap;
}
.home__card {
  width: calc(25% - 20px);
  border: 1px solid rgb(177, 174, 174);
  border-radius: 15px;
  padding: 20px;
}
.home__card-icon {
  width: 30px;
  height: 30px;
  color: grey;
  cursor: pointer;
}
.home__card-icon:hover {
  transform: scale(1.1);
}
.home__card-icon_active {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.home__card-icon_active:hover {
  transform: scale(1.1);
}
.home__card-image {
  width: 100%;
}
.home__card-title {
  font-family: "MontserratRegular", sans-serif;
  font-size: 20px;
  line-height: 22px;
  color: #191919;
}
.home__card-text {
  margin-right: 10px;
  font-family: "MontserratRegular", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: grey;
}
.home__card-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home__card-price, .home__card-gender, .home__card-category {
  margin-top: 10px;
  font-family: "MontserratRegular", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #191919;
}
.home__card-plus {
  width: 30px;
  height: 30px;
  padding: 6px 8px;
  color: grey;
  border: 1px solid grey;
  border-radius: 8px;
  font-family: "MontserratBold", sans-serif;
  font-size: 20px;
  line-height: 18px;
  color: #191919;
}
.home__card-plus:hover {
  background: rgb(248, 208, 208);
  cursor: pointer;
}
.home__card-plus_active {
  background: rgb(122, 192, 17);
  width: 30px;
  height: 30px;
  padding: 4px;
  border: 1px solid grey;
  border-radius: 8px;
  font-weight: 900;
  transition: 0.5s;
}
.home__card-plus_active:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.cart {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  right: -100%;
  transition: 2s;
  display: flex;
}
.cart_active {
  transform: translate(-100%);
}
.cart__block {
  width: 78%;
  background: rgba(10, 10, 10, 0.3);
}
.cart__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 22%;
  padding: 20px;
  background: white;
}
.cart__title {
  margin: 20px 0 20px;
  font-family: "MontserratBold", sans-serif;
  font-size: 30px;
  line-height: 16px;
  color: #191919;
}
.cart__cards {
  margin: 20px 0;
  height: 70vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.cart__card {
  width: 100%;
  border: 1px solid rgb(177, 174, 174);
  border-radius: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.cart__card-image {
  width: 40%;
}
.cart__card-block {
  display: flex;
  flex-direction: column;
}
.cart__card-block-title {
  margin-top: 20px;
  font-family: "MontserratRegular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #191919;
}
.cart__card-block-price {
  margin-top: 10px;
  font-family: "MontserratBold", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #191919;
}
.cart__card-del {
  width: 30px;
  height: 30px;
  padding: 2px 8px;
  color: grey;
  border: 1px solid grey;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
}
.cart__card-del:hover {
  transform: scale(1.2);
}
.cart__bottom {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.cart__info {
  display: flex;
  justify-content: space-between;
}
.cart__info-text {
  font-family: "MontserratBold", sans-serif;
  font-size: 20px;
  line-height: 22px;
  color: #191919;
}
.cart__info-sum {
  font-family: "MontserratBold", sans-serif;
  font-size: 20px;
  line-height: 22px;
  color: #191919;
}
.cart__btn {
  padding: 15px 0;
  font-family: "MontserratBold", sans-serif;
  font-size: 20px;
  line-height: 22px;
  color: white;
  background: rgb(122, 192, 17);
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.register {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px auto;
  height: 100vh;
  width: 30%;
}
.register__form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  row-gap: 20px;
}
.register__title {
  margin-bottom: 10px;
  font-family: "MontserratBold", sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #191919;
}
.register__input {
  width: 300px;
  height: 45px;
  border-radius: 20px;
  padding-left: 20px;
  font-family: "MontserratSemiBold", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #191919;
}
.register__btn {
  width: 300px;
  height: 45px;
  margin-top: 10px;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  background: rgb(48, 102, 218);
  border: 1px solid rgb(48, 102, 218);
  font-family: "MontserratBold", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: white;
}
.register__btn:hover {
  transform: scale(1.1);
}
.register__block {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: "MontserratSemiBold", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #191919;
}
.register__link {
  margin-left: 20px;
  font-family: "MontserratBold", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #191919;
}
.register__link:hover {
  color: blue;
}

.login {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px auto;
  height: 100vh;
  width: 40%;
}
.login__form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  row-gap: 20px;
}
.login__title {
  margin-bottom: 10px;
  font-family: "MontserratBold", sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #191919;
}
.login__input {
  width: 300px;
  height: 45px;
  border-radius: 20px;
  padding-left: 20px;
  font-family: "MontserratSemiBold", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #191919;
}
.login__btn {
  width: 300px;
  height: 45px;
  margin-top: 10px;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  background: rgb(48, 102, 218);
  border: 1px solid rgb(48, 102, 218);
  font-family: "MontserratBold", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: white;
}
.login__btn:hover {
  transform: scale(1.1);
}
.login__block {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: "MontserratSemiBold", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #191919;
}
.login__link {
  margin-left: 20px;
  font-family: "MontserratBold", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #191919;
}
.login__link:hover {
  color: blue;
}

.favorite {
  margin-top: 40px;
}
.favorite__title {
  margin-bottom: 30px;
  font-family: "MontserratBold", sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #191919;
}
.favorite__none {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
  height: 100vh;
  width: 40%;
  row-gap: 30px;
}
.favorite__none-title {
  font-family: "MontserratBold", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #191919;
}
.favorite__none-text {
  font-family: "MontserratSemiBold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #191919;
}
.favorite__none-btn {
  background: rgb(122, 192, 17);
  border: 1px solid rgb(122, 192, 17);
}
.favorite__products {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
  flex-wrap: wrap;
}
.favorite__card {
  width: calc(25% - 20px);
  border: 1px solid rgb(177, 174, 174);
  border-radius: 15px;
  padding: 20px;
}
.favorite__card-icon {
  width: 30px;
  height: 30px;
  color: grey;
  cursor: pointer;
}
.favorite__card-icon:hover {
  transform: scale(1.1);
}
.favorite__card-icon_active {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.favorite__card-icon_active:hover {
  transform: scale(1.1);
}
.favorite__card-image {
  width: 100%;
}
.favorite__card-title {
  font-family: "MontserratRegular", sans-serif;
  font-size: 20px;
  line-height: 22px;
  color: #191919;
}
.favorite__card-text {
  margin-right: 10px;
  font-family: "MontserratRegular", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: grey;
}
.favorite__card-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.favorite__card-price, .favorite__card-gender, .favorite__card-category {
  margin-top: 10px;
  font-family: "MontserratRegular", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #191919;
}
.favorite__card-plus {
  width: 30px;
  height: 30px;
  padding: 6px 8px;
  color: grey;
  border: 1px solid grey;
  border-radius: 8px;
  font-family: "MontserratBold", sans-serif;
  font-size: 20px;
  line-height: 18px;
  color: #191919;
}
.favorite__card-plus:hover {
  background: rgb(248, 208, 208);
  cursor: pointer;
}
.favorite__card-plus_active {
  background: rgb(122, 192, 17);
  width: 30px;
  height: 30px;
  padding: 4px;
  border: 1px solid grey;
  border-radius: 8px;
  font-weight: 900;
  transition: 0.5s;
}
.favorite__card-plus_active:hover {
  transform: scale(1.2);
  transition: 0.5s;
}/*# sourceMappingURL=style.css.map */