@import "blocks/fonts";

//цвета
$black: #191919;
$greyLight: rgb(177, 174, 174);
$grey: grey;
$green: rgb(122, 192, 17);

//шрифты
$montserratReg:'MontserratRegular', sans-serif;
$montserratBold:'MontserratBold', sans-serif;
$montserratBlack:'MontserratBlack', sans-serif;
$montserratMed:'MontserratMedium', sans-serif;
$montserratSemiB:'MontserratSemiBold', sans-serif;
@mixin text($ff, $fz, $lh, $cr){
    font-family: $ff;
    font-size: $fz;
    line-height: $lh;
    color: $cr;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container{
    width: 100%;
    max-width: 1400px;
    padding: 0 40px;
    margin: 0 auto;
}
.btn{
    width: 300px;
    height: 45px;
    margin-top: 10px;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background: rgb(48, 102, 218);
    border: 1px solid rgb(48, 102, 218);
    @include text ($montserratBold, 18px, 18px, white);
}

@import 'blocks/header';
@import 'blocks/home';
@import 'blocks/cart';
@import 'blocks/register';
@import 'blocks/login';
@import 'blocks/favorite'